.introduction-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: unset;
    text-align: left;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    margin: 1vh 10vw 0;
    user-select: none !important;
}

.grey-text {
    color: #5f5d5d
}

.flex {
    display: flex;
}

#section-container {
    align-self: center;
}

#section-header {
    font-size: large;
    color: #0068b4;
}

#section-content {
    font-weight: 500;
    font-size: larger;
}

#section-container a {
    color: inherit;
    text-decoration: unset;
}

.max-height {
    max-height: 500px;
}

.flex-direction {
    flex-direction: row-reverse;
}

